<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ch1-Writing-your-own-functions-=-UDF" data-toc-modified-id="Ch1-Writing-your-own-functions-=-UDF-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ch1 Writing your own functions = UDF</a></span><ul class="toc-item"><li><span><a href="#Docstrings" data-toc-modified-id="Docstrings-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Docstrings</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Exercises</a></span></li><li><span><a href="#Multiple-parameters-and-return-values" data-toc-modified-id="Multiple-parameters-and-return-values-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Multiple parameters and return values</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Bringing-it-all-together:-Twitter-data" data-toc-modified-id="Bringing-it-all-together:-Twitter-data-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Bringing it all together: Twitter data</a></span></li></ul></li><li><span><a href="#Ch2-Default-arguments,-variable-length-arguments-and-scope" data-toc-modified-id="Ch2-Default-arguments,-variable-length-arguments-and-scope-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ch2 Default arguments, variable-length arguments and scope</a></span><ul class="toc-item"><li><span><a href="#Scope-and-User-defined-functions" data-toc-modified-id="Scope-and-User-defined-functions-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Scope and User-defined functions</a></span></li><li><span><a href="#The-keyword-global" data-toc-modified-id="The-keyword-global-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>The keyword global</a></span></li><li><span><a href="#Python's-built-in-scope" data-toc-modified-id="Python's-built-in-scope-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Python's built-in scope</a></span></li><li><span><a href="#Nested-Functions-I" data-toc-modified-id="Nested-Functions-I-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Nested Functions I</a></span></li><li><span><a href="#Nested-Functions-II" data-toc-modified-id="Nested-Functions-II-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Nested Functions II</a></span></li><li><span><a href="#The-keyword-nonlocal-and-nested-functions" data-toc-modified-id="The-keyword-nonlocal-and-nested-functions-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>The keyword nonlocal and nested functions</a></span></li><li><span><a href="#Functions-with-one-default-argument" data-toc-modified-id="Functions-with-one-default-argument-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Functions with one default argument</a></span></li><li><span><a href="#Functions-with-multiple-default-arguments" data-toc-modified-id="Functions-with-multiple-default-arguments-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Functions with multiple default arguments</a></span></li><li><span><a href="#Function-with-variable-length-arguments-(*args)" data-toc-modified-id="Function-with-variable-length-arguments-(*args)-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Function with variable-length arguments (*args)</a></span></li><li><span><a href="#Function-with-variable-length-keyword-arguments-(**kwargs)" data-toc-modified-id="Function-with-variable-length-keyword-arguments-(**kwargs)-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>Function with variable-length keyword arguments (**kwargs)</a></span></li><li><span><a href="#Bringing-it-all-together-(1)" data-toc-modified-id="Bringing-it-all-together-(1)-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>Bringing it all together (1)</a></span></li><li><span><a href="#Bringing-it-all-together-(2)" data-toc-modified-id="Bringing-it-all-together-(2)-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>Bringing it all together (2)</a></span></li></ul></li><li><span><a href="#Ch-3-Lambda-functions-and-error-handling" data-toc-modified-id="Ch-3-Lambda-functions-and-error-handling-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ch 3 Lambda functions and error-handling</a></span><ul class="toc-item"><li><span><a href="#Pop-quiz-on-lambda-functions" data-toc-modified-id="Pop-quiz-on-lambda-functions-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Pop quiz on lambda functions</a></span></li><li><span><a href="#Writing-a-lambda-function-you-already-know" data-toc-modified-id="Writing-a-lambda-function-you-already-know-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Writing a lambda function you already know</a></span></li><li><span><a href="#Map()-and-lambda-functions" data-toc-modified-id="Map()-and-lambda-functions-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Map() and lambda functions</a></span></li><li><span><a href="#Filter()-and-lambda-functions" data-toc-modified-id="Filter()-and-lambda-functions-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Filter() and lambda functions</a></span></li><li><span><a href="#Reduce()-and-lambda-functions" data-toc-modified-id="Reduce()-and-lambda-functions-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Reduce() and lambda functions</a></span></li><li><span><a href="#Pop-quiz-about-errors" data-toc-modified-id="Pop-quiz-about-errors-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Pop quiz about errors</a></span></li><li><span><a href="#Error-handling-with-try-except" data-toc-modified-id="Error-handling-with-try-except-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Error handling with try-except</a></span></li><li><span><a href="#Error-handling-by-raising-an-error" data-toc-modified-id="Error-handling-by-raising-an-error-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Error handling by raising an error</a></span></li><li><span><a href="#Bringing-it-all-together-(1)" data-toc-modified-id="Bringing-it-all-together-(1)-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Bringing it all together (1)</a></span></li><li><span><a href="#Bringing-it-all-together-(2)" data-toc-modified-id="Bringing-it-all-together-(2)-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Bringing it all together (2)</a></span></li><li><span><a href="#Bringing-it-all-together-(3)" data-toc-modified-id="Bringing-it-all-together-(3)-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Bringing it all together (3)</a></span></li></ul></li></ul></div>

## Ch1 Writing your own functions = UDF
*  Define functions without parameters
*  Define functions with one parameter
*  Define functions that return a value
*  Later: multiple arguments, multiple return values

In [1]:
# Function without parameters:
def square(): # function header
    new_value = 4**2 # function body
    print(new_value)
square()

16

In [2]:
# Function with 1 parameter:
def square(value):
    new_value = value**2
    print(new_value)
square(4)

16

In [3]:
# Function with 1 parameter that returns 1 value:
def square(value):
    new_value = value**2
    return new_value
square(4)

16

In [1]:
# Assign return value to a variable num:
def square(value):
    new_value = value**2
    return new_value
num = square(4)
print(num)

16

### Docstrings
*  Docstrings describe what your function does
*  Serve as documentation for your function
*  Placed in the immediate line afer the function header
*  In between triple double quotes """

In [ ]:
# Function with Docstrings
def square(value):
    """Return the square of a value"""
    new_value = value**2
    return new_value

### Exercises
Unlike with numeric types such as ints and floats, the + operator concatenates strings together, while the * concatenates multiple copies of a string together.

In [8]:
# If we print them, what will be printed in the console?
object1 = "data" + "analysis" + "visualization"
object2 = 1 * 3
object3 = "1" * 3
print(object1, object2, object3)

dataanalysisvisualization 3 111

In [4]:
x = 4.89 # float
x2 = str(x) # string
type(print(x))

4.89

NoneType

NoneType because **assigning a variable y2 to a function that** prints a value but **doesn't return a value** results in NoneType

In [13]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = "congratulations" + "!!!"
    # Print shout_word
    print(shout_word)
# Call shout
shout()

congratulations!!!

In [5]:
# Single parameter function
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout("congratulations")

congratulations!!!

In [8]:
# Functions that return single values
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + "!!!"

    # Replace print with return
    return shout_word

# Pass 'congratulations' to shout: yell
yell = shout("congratulations")

# Print yell
print(yell)
# Here it was OK to assign output of shout('congratulations') to a variable yell 
# because function returns a value, it does not merely print one.

congratulations!!!

### Multiple parameters and return values

In [9]:
# Multiple parameters and return values
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2"""
    new_value = value1 ** value2
    print(new_value)
result = raise_to_power(2, 3)
result

8

### Tuples
- Make functions return multiple values: Tuples!
- Like a list - can contain multiple values, but **Immutable - can’t modify values!**
- Constructed using parentheses ()
*  return statement **return x, y** has the same result as **return (x, y)**: the former actually packs x and y into a tuple under the hood!

In [15]:
even_nums = (2,4,6)
type(even_nums)

tuple

In [16]:
# Unpack the tuples into several variables:
a, b, c = even_nums
a

2

In [17]:
b

4

In [18]:
c

6

In [19]:
# Access 2nd element of the tuple (using zero-indexing)
even_nums[1]

4

In [10]:
nums = (3, 4, 6)
# Unpack nums into num1, num2, and num3
num1, num2, num3 = nums

# Construct even_nums
even_nums = (2, num2, num3)
even_nums

(2, 4, 6)

In [20]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa."""
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    new_tuple = (new_value1, new_value2)
    return new_tuple
raise_both(2, 3)

(8, 9)

In [22]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + "!!!"
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + "!!!"
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + " " + shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout("congratulations", "you")

# Print yell
print(yell)

congratulations!!! you!!!

In [23]:
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + "!!!"
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + "!!!"
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1, shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all() and unzip resulting 2-word string into: yell1, yell2
yell1, yell2 = shout_all("congratulations", "you")

# Print yell1 and yell2
print(yell1)
print(yell2)

congratulations!!!
you!!!

### Bringing it all together: Twitter data
we iterate over entries in a column to build a dictionary in which the **keys are the names of languages** and values = nr of tweets in given language.

In [18]:
# Import pandas
import pandas as pd

# Import Twitter data as DataFrame: df
df = pd.read_csv('https://s3.amazonaws.com/assets.datacamp.com/production/course_1342/datasets/tweets.csv')
df.info() # similar to str() in R

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
contributors                 0 non-null float64
coordinates                  0 non-null float64
created_at                   100 non-null object
entities                     100 non-null object
extended_entities            20 non-null object
favorite_count               100 non-null int64
favorited                    100 non-null bool
filter_level                 100 non-null object
geo                          0 non-null float64
id                           100 non-null int64
id_str                       100 non-null int64
in_reply_to_screen_name      11 non-null object
in_reply_to_status_id        8 non-null float64
in_reply_to_status_id_str    8 non-null float64
in_reply_to_user_id          11 non-null float64
in_reply_to_user_id_str      11 non-null float64
is_quote_status              100 non-null bool
lang                         100 non-null object
place                        3 non-null object
possibly_sensitive           72 non-null object
quoted_status                14 non-null object
quoted_status_id             14 non-null float64
quoted_status_id_str         14 non-null float64
retweet_count                100 non-null int64
retweeted                    100 non-null bool
retweeted_status             62 non-null object
source                       100 non-null object
text                         100 non-null object
timestamp_ms                 100 non-null int64
truncated                    100 non-null bool
user                         100 non-null object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [19]:
df.describe() # like summary() in R

,contributors,coordinates,favorite_count,geo,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,quoted_status_id,quoted_status_id_str,retweet_count,timestamp_ms
count,0.0,0.0,100.0,0.0,1.000000e+02,1.000000e+02,8.000000e+00,8.000000e+00,1.100000e+01,1.100000e+01,1.400000e+01,1.400000e+01,100.0,1.000000e+02
mean,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.108866e+17,7.108866e+17,2.990660e+08,2.990660e+08,7.149298e+17,7.149298e+17,0.0,1.459295e+12
std,NaN,NaN,0.0,NaN,2.466478e+09,2.466478e+09,7.535624e+15,7.535624e+15,7.661897e+08,7.661897e+08,3.357189e+13,3.357189e+13,0.0,5.880544e+02
min,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,6.986775e+17,6.986775e+17,1.596421e+07,1.596421e+07,7.148444e+17,7.148444e+17,0.0,1.459295e+12
25%,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.108778e+17,7.108778e+17,2.313262e+07,2.313262e+07,7.149182e+17,7.149182e+17,0.0,1.459295e+12
50%,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.149572e+17,7.149572e+17,2.507388e+07,2.507388e+07,7.149246e+17,7.149246e+17,0.0,1.459295e+12
75%,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.149591e+17,7.149591e+17,3.178486e+07,3.178486e+07,7.149599e+17,7.149599e+17,0.0,1.459295e+12
max,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.149600e+17,7.149600e+17,2.567842e+09,2.567842e+09,7.149603e+17,7.149603e+17,0.0,1.459295e+12

In [20]:
print(pd.get_option("display.max_columns"))
pd.set_option('max_columns', 35)
df.head(3)

35

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,is_quote_status,lang,place,possibly_sensitive,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,714960401759387648,NaN,NaN,NaN,NaN,NaN,False,en,NaN,False,NaN,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,714960401977319424,NaN,NaN,NaN,NaN,NaN,False,en,NaN,False,NaN,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,714960402426236928,NaN,NaN,NaN,NaN,NaN,False,et,NaN,False,NaN,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."

In [23]:
# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = df['lang'] # df.lang works as well

# Iterate over lang column in df
for entry in col:
    # If the language is in langs_count, add 1
    if entry in langs_count.keys():
        langs_count[entry] += 1
    # Else add the language to langs_count, set the value to 1
    else:
        langs_count[entry] = 1
# Print the populated dictionary
print(langs_count)
col

{'en': 97, 'et': 1, 'und': 2}

0      en
1      en
2      et
3      en
4      en
5      en
6      en
7      en
8      en
9      en
10     en
11     en
12     en
13     en
14     en
15     en
16     en
17     en
18     en
19     en
20    und
21     en
22     en
23     en
24     en
25     en
26     en
27     en
28     en
29    und
     ...
70     en
71     en
72     en
73     en
74     en
75     en
76     en
77     en
78     en
79     en
80     en
81     en
82     en
83     en
84     en
85     en
86     en
87     en
88     en
89     en
90     en
91     en
92     en
93     en
94     en
95     en
96     en
97     en
98     en
99     en
Name: lang, Length: 100, dtype: object

In [30]:
# Same but instead of writing a loop and printing the output, we wrap it in a function 
# that returns count of unique values and call it
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of occurrences as value for each key."""
    # Initialize an empty dictionary: langs_count
    langs_count = {}
    # Extract column from DataFrame: col
    col = df[col_name]
    # Iterate over lang column in DataFrame
    for entry in col:
        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1
    # Return the langs_count dictionary
    return langs_count

# Call count_entries()
count_entries(df, 'lang')

{'en': 97, 'et': 1, 'und': 2}

In [31]:
df.lang.value_counts() # achieve the same as the function with a one-liner

en     97
und     2
et      1
Name: lang, dtype: int64

In [32]:
count_entries(df, 'filter_level')

{'low': 100}

In [33]:
df.filter_level.value_counts()

low    100
Name: filter_level, dtype: int64

In [29]:
count_entries(df, 'favorited')

{False: 100}

In [34]:
df.favorited.value_counts()

False    100
Name: favorited, dtype: int64

## Ch2 Default arguments, variable-length arguments and scope
### Scope and User-defined functions
Global vs. local scope = Python looks at the global scope only if it cannot find the variable/function name in the local scope. If the variable is not found in neither of them, the built-in scope is searched ex. sum() or print().

In [35]:
num = 5
def func1():
    num = 3
    print(num)

def func2():
    global num
    double_num = num * 2
    num = 6
    print(double_num)

func1()
func2()
print(num)

3
10
6

### The keyword global
use the keyword global within a function to alter the value of a variable defined in the global scope.

In [36]:
# Create a string: team
team = "teen titans"

# Define change_team()
def change_team():
    """Change the value of the global variable team."""

    # Use team in global scope
    global team

    # Change the value of team in global: team
    team = "justice league"
# Print team
print(team)

# Call change_team()
change_team()

# Print team
print(team)

teen titans
justice league

### Python's built-in scope
Python has built-in scope, which is just a built-in module called **builtins**. 
*  to query builtins, you'll need to import builtins 'because the name builtins is not itself built in... 
*  After executing import builtins in the IPython Shell, execute dir(builtins) to print a list of all the names in the module builtins. Have a look and you'll see a bunch of names that you'll recognize! Which of the following names is NOT in the module builtins?
    - sum, range, array or tuple?

In [38]:
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

array is not there since it's from Numpy

### Nested Functions I
*  used to avoid writing out the same computations within functions repeatedly. 
*  you simply define it as you would a regular function with def and embed it inside another function!
    *  inside a function three_shouts(), define a nested function inner() that concatenates a string object with !!!. three_shouts() then returns a tuple of three elements, each a string concatenated with !!! using inner().
- enclosing vs. inner function: 
    - if name is not found in the inner function, it is searched in the enclosing function, then in global, then in built-in scope
    - **Scopes searched:** local (=inner), enclosing, global, built-in
    - can be overwritten by using keywords: **global, nonlocal**

In [7]:
def raise_val(n):
    """return inner f"""
    def inner(x):
        raised = x**n
        return raised
    return inner # if I just called inner within outer function: inner()

square = raise_val(2) # square specifies n = 2
cube = raise_val(3) # specifies n = 3
print(square(2), cube(3)) # 2^2, 3^3
print(cube(4)) # 4^3

4 27
64

In [39]:
# Define three_shouts
def three_shouts(word1, word2, word3):
    """Returns a tuple of strings concatenated with '!!!'."""

    # Define inner
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word + '!!!'

    # Return a tuple of strings
    return (inner(word1), inner(word2), inner(word3))

# Call three_shouts() and print
print(three_shouts('a', 'b', 'c'))

('a!!!', 'b!!!', 'c!!!')

### Nested Functions II
*  good reason for nesting functions is the idea of a closure. 
*  This means that nested or inner **function remembers the state of its enclosing scope when called**. 
    *  Thus, anything defined locally in the enclosing scope is available to the inner function even when the outer function has finished execution.
*  complete the definition of the inner function inner_echo() and then call echo() a couple of times, each with a different argument. Complete the exercise and see what the output will be!

In [40]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

### The keyword nonlocal and nested functions
Let's once again work further on your mastery of scope! In this exercise, you will use the keyword nonlocal within a nested function to alter the value of a variable defined in the enclosing scope.

In [41]:
# Define echo_shout()
def echo_shout(word):
    """Change the value of a nonlocal variable"""
    # Concatenate word with itself: echo_word
    echo_word = word * 2
    #Print echo_word
    print(echo_word)
    
    # Define inner function shout()
    def shout():
        """Alter a variable in the enclosing scope"""    
        #Use echo_word in nonlocal scope
        nonlocal echo_word
        #Change echo_word to echo_word concatenated with '!!!'
        echo_word = echo_word + "!!!"
    # Call function shout()
    shout() # returns echo_word, i.e. word * 2
    #Print echo_word
    print(echo_word) # returns word * 2 + !!!

#Call function echo_shout() with argument 'hello'    
echo_shout("hello")

hellohello
hellohello!!!

### Functions with one default argument
In the previous chapter, you've learned to define functions with more than one parameter and then calling those functions by passing the required number of arguments. In the last video, Hugo built on this idea by showing you how to define functions with default arguments. You will practice that skill in this exercise by writing a function that uses a default argument and then calling the function a couple of times.

In [100]:
# Define shout_echo
def shout_echo(word1, echo = 1):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey"
shout_echo("Hey")

'Hey!!!'

In [101]:
# Call shout_echo() with "Hey" and echo=5
shout_echo("Hey", echo = 5)

'HeyHeyHeyHeyHey!!!'

### Functions with multiple default arguments
You've now defined a function that uses a default argument - don't stop there just yet! You will now try your hand at defining a function with more than one default argument and then calling this function in various ways.

After defining the function, you will call it by supplying values to all the default arguments of the function. Additionally, you will call the function by not passing a value to one of the default arguments - see how that changes the output of your function!

In [102]:
# Define shout_echo
def shout_echo(word1, echo = 1, intense = False):
    """Concatenate echo copies of word1 and three exclamation marks at the end of the string."""
    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Capitalize echo_word if intense is True
    if intense is True:
        # Turn all letters to capital letters and add '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'
    # Return echo_word_new
    return echo_word_new

# Call shout_echo() 
shout_echo("Hey", echo = 5, intense = True)

'HEYHEYHEYHEYHEY!!!'

In [106]:
shout_echo("Hey")

'Hey!!!'

In [108]:
shout_echo("Hey", intense = True)

'HEY!!!'

### Function with variable-length arguments (*args)
Flexible arguments enable you to pass a variable number of arguments to a function. In this exercise, you will practice defining a function that accepts a variable number of string arguments.

The function you will define is gibberish() which can accept a variable number of string values. Its return value is a single string composed of all the string arguments concatenated together in the order they were passed to the function call. You will call the function with a single string argument and see how the output changes with another call using more than one string argument. Recall from the previous video that, within the function definition, args is a tuple.

In [110]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ""

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() 
gibberish("luke")

'luke'

In [111]:
gibberish("luke", "leia", "han", "obi", "darth")

'lukeleiahanobidarth'

### Function with variable-length keyword arguments (**kwargs)
Let's push further on what you've learned about flexible arguments - you've used *args, you're now going to use **kwargs! What makes **kwargs different is that it allows you to pass a variable number of keyword arguments to functions. Recall from the previous video that, within the function definition, kwargs is a dictionary.

To understand this idea better, you're going to use **kwargs in this exercise to define a function that accepts a variable number of keyword arguments. The function simulates a simple status report system that prints out the status of a character in a movie.

In [45]:
# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""
    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name="luke", affiliation="jedi", status="missing")

# Second call to report_status()
report_status(name="anakin", affiliation="sith lord", status="deceased")

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

### Bringing it all together (1)
Recall the Bringing it all together exercise in the previous chapter where you did a simple Twitter analysis by developing a function that counts how many tweets are in certain languages. The output of your function was a dictionary that had the language as the keys and the counts of tweets in that language as the value.

In this exercise, we will generalize the Twitter language analysis that you did in the previous chapter. You will do that by including a default argument that takes a column name.

For your convenience, pandas has been imported as pd and the 'tweets.csv' file has been imported into the DataFrame tweets_df. Parts of the code from your previous work are also provided.

In [112]:
# Define count_entries()
def count_entries(df, col_name = "lang"):
    """Return a dictionary with counts of occurrences as value for each key."""
    # Initialize an empty dictionary: cols_count
    cols_count = {}
    # Extract column from DataFrame: col
    col = df[col_name]
    # Iterate over the column in DataFrame
    for entry in col:
        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries()
count_entries(df)

{'en': 97, 'et': 1, 'und': 2}

In [113]:
count_entries(df, "source")

{'<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1,
 '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2,
 '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2,
 '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24,
 '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6,
 '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26,
 '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33,
 '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1,
 '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2,
 '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1,
 '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2}

### Bringing it all together (2)
Wow, you've just generalized your Twitter language analysis that you did in the previous chapter to include a default argument for the column name. You're now going to generalize this function one step further by allowing the user to pass it a flexible argument, that is, in this case, as many column names as the user would like!

Once again, for your convenience, pandas has been imported as pd and the 'tweets.csv' file has been imported into the DataFrame tweets_df. Parts of the code from your previous work are also provided.

In [116]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of occurrences as value for each key."""
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    # Iterate over column names in args
    for col_name in args:
        # Extract column from DataFrame: col
        col = df[col_name]
        # Iterate over the column in DataFrame
        for entry in col:
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
    # Return the cols_count dictionary
    return cols_count

# Call count_entries()
count_entries(df, "lang")

{'en': 97, 'et': 1, 'und': 2}

In [117]:
count_entries(df, "lang", "source")

{'<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1,
 '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2,
 '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2,
 '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24,
 '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6,
 '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26,
 '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33,
 '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1,
 '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2,
 '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1,
 '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2,
 'en': 97,
 'et': 1,
 'und': 2}

## Ch 3 Lambda functions and error-handling
### Pop quiz on lambda functions
In this exercise, you will practice writing a simple lambda function and calling this function. Recall what you know about lambda functions and answer the following questions:

How would you write a lambda function add_bangs that adds three exclamation points '!!!' to the end of a string a?
How would you call add_bangs with the argument 'hello'?
You may use the IPython shell to test your code.
1. The lambda function definition is: add_bangs = (a + '!!!'), and the function call is: add_bangs('hello').
2. The lambda function definition is: add_bangs = (lambda a: a + '!!!'), and the function call is: add_bangs('hello').
3. The lambda function definition is: (lambda a: a + '!!!') = add_bangs, and the function call is: add_bangs('hello').

In [54]:
add_bangs = lambda a: a + "!!!"
add_bangs("hello")

'hello!!!'

### Writing a lambda function you already know
Some function definitions are simple enough that they can be converted to a lambda function. By doing this, you write less lines of code, which is pretty awesome and will come in handy, especially when you're writing and maintaining big programs. In this exercise, you will use what you know about lambda functions to convert a function that does a simple task into a lambda function. Take a look at this function definition:

In [55]:
def echo_word(word1, echo):
    """Concatenate echo copies of word1."""
    words = word1 * echo
    return words
echo_word("hey", 5)

'heyheyheyheyhey'

The function echo_word takes 2 parameters: word1 and echo. It returns a string that is a concatenation of echo copies of word1. 
*  Your task is to convert this simple function into a lambda function.

In [56]:
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1, echo: word1 * echo)
# Call it
echo_word("hey", 5)

'heyheyheyheyhey'

### Map() and lambda functions
So far, you've used lambda functions to write short, simple functions as well as to redefine functions with simple functionality. The best use case for lambda functions, however, are for when you want these simple functionalities to be anonymously embedded within larger expressions. What that means is that the functionality is not stored in the environment, unlike a function defined with def. To understand this idea better, you will use a lambda function in the context of the map() function.

Recall from the video that map() applies a function over an object, such as a list. Here, you can use lambda functions to define the function that map() will use to process the object. For example:

* nums = [2, 4, 6, 8, 10]
* result = map(lambda a: a ** 2, nums)

You can see here that a lambda function, which raises a value a to the power of 2, is passed to map() alongside a list of numbers, nums. The map object that results from the call to map() is stored in result. You will now practice the use of lambda functions with map(). For this exercise, you will map the functionality of the add_bangs() function you defined in previous exercises over a list of strings.

In [118]:
# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells and print it in a one liner
list(map(lambda item: item + "!!!", spells))

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

### Filter() and lambda functions
In the previous exercise, you used lambda functions to anonymously embed an operation within map(). You will practice this again in this exercise by using a lambda function with filter(), which may be new to you! The function filter() offers a way to filter out elements from a list that don't satisfy certain criteria.

Your goal in this exercise is to use filter() to create, from an input list of strings, a new list that contains only strings that have more than 6 characters.

In [119]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# create a new list that contains only strings that have more than 6 characters.
list(filter(lambda member: len(member) > 6, fellowship))

['samwise', 'aragorn', 'legolas', 'boromir']

In [73]:
# seq = [1,2,3,4,5]
seq = list(range(1,6))
seq

[1, 2, 3, 4, 5]

In [75]:
list(map(lambda x: x*2, seq))

[2, 4, 6, 8, 10]

In [76]:
# return only even numbers in seq = [1,2,3,4,5]
list(filter(lambda x: x%2 == 0, seq))

[2, 4]

### Reduce() and lambda functions
You're getting very good at using lambda functions! Here's one more function to add to your repertoire of skills. The reduce() function is useful for performing some computation on a list and, unlike map() and filter(), returns a single value as a result. To use reduce(), you must import it from the functools module.

Remember gibberish() from a few exercises back?

gibberish() simply takes a list of strings as an argument and returns, as a single-value result, the concatenation of all of these strings. In this exercise, you will replicate this functionality by using reduce() and a lambda function that concatenates strings together.

In [121]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""
    hodgepodge = ''
    for word in args:
        hodgepodge += word
    return hodgepodge
gibberish('robb', 'sansa', 'arya', 'eddard', 'jon')

'robbsansaaryaeddardjon'

In [77]:
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']

# Use reduce() to apply a lambda function over stark
reduce(lambda item1, item2: item1 + item2, stark)

robbsansaaryaeddardjon

### Pop quiz about errors
In the video, Hugo talked about how errors happen when functions are supplied arguments that they are unable to work with. In this exercise, you will identify which function call raises an error and what type of error is raised.

Take a look at the following function calls to len():

len('There is a beast in every man and it stirs when you put a sword in his hand.')

len(['robb', 'sansa', 'arya', 'eddard', 'jon'])

len(525600)

len(('jaime', 'cersei', 'tywin', 'tyrion', 'joffrey'))
Which of the function calls raises an error and what type of error is raised?

In [78]:
len('There is a beast in every man and it stirs when you put a sword in his hand.')

76

In [79]:
len(['robb', 'sansa', 'arya', 'eddard', 'jon'])

5

In [80]:
len(525600)

TypeError: object of type 'int' has no len()

In [81]:
len(('jaime', 'cersei', 'tywin', 'tyrion', 'joffrey')) # ruple of tuples?

5

len(525600) raises a Type Error, since len() is not applicaple to numerical values.

### Error handling with try-except
A good practice in writing your own functions is also anticipating the ways in which other people (or yourself, if you accidentally misuse your own function) might use the function you defined.

As in the previous exercise, you saw that the len() function is able to handle input arguments such as strings, lists, and tuples, but not int type ones and raises an appropriate error and error message when it encounters invalid input arguments. One way of doing this is through exception handling with the try-except block.

In this exercise, you will define a function as well as use a try-except block for handling cases when incorrect input arguments are passed to the function.

Recall the shout_echo() function you defined in previous exercises; parts of the function definition are provided in the sample code. Your goal is to complete the exception handling code in the function definition and provide an appropriate error message when raising an error.

In [83]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ""
    shout_words = ""

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + "!!!"
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''

In [86]:
shout_echo("particle")

'particle!!!'

In [87]:
shout_echo("particle", 3)

'particleparticleparticle!!!'

### Error handling by raising an error
Another way to raise an error is by using raise. In this exercise, you will add a raise statement to the shout_echo() function you defined before to raise an error message when the value supplied by the user to the echo argument is less than 0.

The call to shout_echo() uses valid argument values. To test and see how the raise statement works, simply change the value for the echo argument to a negative value. Don't forget to change it back to valid values to move on to the next exercise!

In [123]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three exclamation marks at the end of the string."""

    # Raise an error with raise, oherwise only !!! will be printed if echo < 0
    if echo < 0:
        raise ValueError("echo must be greater than 0")

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=-1)

ValueError: echo must be greater than 0

In [89]:
shout_echo("particle", echo=2)

'particleparticle!!!'

### Bringing it all together (1)
This is awesome! You have now learned how to write anonymous functions using lambda, how to pass lambda functions as arguments to other functions such as map(), filter(), and reduce(), as well as how to write errors and output custom error messages within your functions. You will now put together these learnings to good use by working with a Twitter dataset. Before practicing your new error handling skills,in this exercise, you will write a lambda function and use filter() to select retweets, that is, tweets that begin with the string 'RT'.

To help you accomplish this, the Twitter data has been imported into the DataFrame, tweets_df. Go for it!

In [125]:
# Select retweets from the Twitter DataFrame: result
list(filter(lambda x: x[0:2] == "RT", df['text']))

["RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/…",
 'RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3',
 'RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:…',
 'RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE',
 'RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.',
 'RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!\n\nhttps://t.co/7QCFz9ehNe',
 'RT @urfavandtrump: RT for Brendon Urie\nFav for Donald Trump https://t.co/PZ5vS94lOg',
 'RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT',
 'RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.',
 'RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump\n#NeverTrump  #CruzCrew  https…',
 'RT @urfavandtrump: RT for Brendon Urie\nFav for Donald Trump https://t.co/PZ5vS94lOg',
 'RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…',
 'RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump\n#NeverTrump  #CruzCrew  https…',
 'RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT',
 'RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…',
 'RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…',
 'RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT',
 'RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…',
 "RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…",
 'RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…',
 'RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT',
 "RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…",
 'RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…',
 "RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…",
 'RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump',
 'RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc',
 "RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…",
 'RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…',
 "RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethink🤔 http…",
 "RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump",
 "RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's n…",
 'RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.',
 'RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.',
 'RT @urfavandtrump: RT for Jerrie (Little Mix)\nFav for Donald Trump https://t.co/nEVxElW6iG',
 'RT @urfavandtrump: RT for Jerrie (Little Mix)\nFav for Donald Trump https://t.co/nEVxElW6iG',
 'RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…',
 'RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2\n\nThis is the only article you will n…',
 'RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face\nhttps://t.co/GeEryMDuDY',
 'RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…',
 'RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump \nURGENT PUBLIC TRUMP ALERT:\nCOVERT KILL MEANS https:…',
 'RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face\nhttps://t.co/GeEryMDuDY',
 'RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2\n\nThis is the only article you will n…',
 'RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump \nURGENT PUBLIC TRUMP ALERT:\nCOVERT KILL MEANS https:…',
 'RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…',
 'RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz \n\nCRUZ SCREWS HOOKERS\n\nCRUZ / CLINTON',
 'RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…',
 'RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…',
 'RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…',
 'RT @Dodarey: @DR8801 @SykesCharlie Charlie, let\'s see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…',
 'RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz \n\nCRUZ SCREWS HOOKERS\n\nCRUZ / CLINTON',
 'RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…',
 'RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary\nhttps…',
 'RT @Dodarey: @DR8801 @SykesCharlie Charlie, let\'s see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…',
 'RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary\nhttps…',
 'RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…',
 'RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…',
 'RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…',
 'RT @GlendaJazzey: Donald Trump’s Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia',
 'RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx',
 'RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM',
 'RT @claytoncubitt: Stop asking Bernie supporters if they’ll vote for Hillary against Trump. We got a plan to beat Trump already. Called Ber…',
 "RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC"]

### Bringing it all together (2)
Sometimes, we make mistakes when calling functions - even ones you made yourself. But don't fret! In this exercise, you will improve on your previous work with the count_entries() function in the last chapter by adding a try-except block to it. This will allow your function to provide a helpful message when the user calls your count_entries() function but provides a column name that isn't in the DataFrame.

Once again, for your convenience, pandas has been imported as pd and the 'tweets.csv' file has been imported into the DataFrame tweets_df. Parts of the code from your previous work are also provided.

In [91]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of occurrences as value for each key."""
    # Initialize an empty dictionary: cols_count
    cols_count = {}
    try:
        # Extract column from DataFrame: col
        col = df[col_name]
        # Iterate over the column in dataframe
        for entry in col:
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
        # Return the cols_count dictionary
        return cols_count
    except:
        print("The DataFrame does not have a " + col_name + " column.")

# Call count_entries(): result1
result1 = count_entries(df, 'lang')
# Print result1
print(result1)
# Call count_entries(): result2
result2 = count_entries(df, 'lang1')

{'en': 97, 'et': 1, 'und': 2}
The DataFrame does not have a lang1 column.

### Bringing it all together (3)
In the previous exercise, you built on your function count_entries() to add a try-except block. This was so that users would get helpful messages when calling your count_entries() function and providing a column name that isn't in the DataFrame. In this exercise, you'll instead raise a ValueError in the case that the user provides a column name that isn't in the DataFrame.

Once again, for your convenience, pandas has been imported as pd and the 'tweets.csv' file has been imported into the DatFrame tweets_df. Parts of the code from your previous work are also provided.

In [93]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of occurrences as value for each key."""
    
    # Raise a ValueError if col_name is NOT in DataFrame
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
        
        # Return the cols_count dictionary
    return cols_count

# Call count_entries()
count_entries(df, "lang1")

ValueError: The DataFrame does not have a lang1 column.

In [94]:
count_entries(df, "lang")

{'en': 97, 'et': 1, 'und': 2}