<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ch1:-Mutating-joins" data-toc-modified-id="Ch1:-Mutating-joins-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ch1: Mutating joins</a></span><ul class="toc-item"><li><span><a href="#The-advantages-of-dplyr" data-toc-modified-id="The-advantages-of-dplyr-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>The advantages of dplyr</a></span></li><li><span><a href="#A-basic-join" data-toc-modified-id="A-basic-join-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>A basic join</a></span></li><li><span><a href="#Inner-joins-and-full-joins" data-toc-modified-id="Inner-joins-and-full-joins-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Inner joins and full joins</a></span></li><li><span><a href="#Pipes" data-toc-modified-id="Pipes-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Pipes</a></span></li></ul></li><li><span><a href="#Ch2:-Filtering-joins-and-set-operations" data-toc-modified-id="Ch2:-Filtering-joins-and-set-operations-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ch2: Filtering joins and set operations</a></span><ul class="toc-item"><li><span><a href="#Semi-join" data-toc-modified-id="Semi-join-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Semi-join</a></span></li><li><span><a href="#Anti-join" data-toc-modified-id="Anti-join-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Anti-join</a></span></li><li><span><a href="#Semi-join-vs.-Anti-join" data-toc-modified-id="Semi-join-vs.-Anti-join-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Semi-join vs. Anti-join</a></span></li><li><span><a href="#Set-operations" data-toc-modified-id="Set-operations-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Set operations</a></span></li><li><span><a href="#How-many-songs-are-there?" data-toc-modified-id="How-many-songs-are-there?-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>How many songs are there?</a></span></li><li><span><a href="#Comparing-datasets" data-toc-modified-id="Comparing-datasets-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Comparing datasets</a></span></li></ul></li><li><span><a href="#Ch3:-Assembling-data" data-toc-modified-id="Ch3:-Assembling-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ch3: Assembling data</a></span><ul class="toc-item"><li><span><a href="#Build-a-better-data-frame" data-toc-modified-id="Build-a-better-data-frame-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Build a better data frame</a></span></li></ul></li><li><span><a href="#Ch4:-Advanced-joining" data-toc-modified-id="Ch4:-Advanced-joining-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Ch4: Advanced joining</a></span></li><li><span><a href="#Ch5:-Case-study" data-toc-modified-id="Ch5:-Case-study-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Ch5: Case study</a></span></li></ul></div>

In [13]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

## Ch1: Mutating joins
*  like mutate(), the mutating joins return a copy of the primary dataset that has 1 or more columns added to it from the secondary dataset. 
*  **left_join, right_join, inner_join, full_join**

### The advantages of dplyr
dplyr provides several advantages when it comes to joining data. Reasons to use dplyr to join data:
*  dplyr join syntax is intuitive to use.
*  dplyr joins preserve the row order of your data.
*  dplyr joins will work with dplyr to connect to SQL databases, as well as Spark cluster to handle Big Data.

### A basic join
*  left_join() is the basic join function in dplyr. You can use it whenever you want to augment a data frame with information from another data frame.
*  Ex. **left_join(x, y)** joins y to x. The second dataset you specify is joined to the first dataset. 
*  The easiest mistake when joining datasets is to use an incorrect **combination of keys**.

**Keys:**
*  primary key needs to be unique in a table
*  foreign key in the second table can be duplicated
*  PK may be comprised of multiple columns

In [17]:
artists0 = read.csv("C:/Users/annaa/data/artists.csv", sep = ",", stringsAsFactors = FALSE)
artists0

   name            instrument
1  Jimmy Buffett   Guitar
2  George Harrison Guitar
3  Mick Jagger     Vocals
4  Tom Jones       Vocals
5  Davy Jones      Vocals
6  John Lennon     Guitar
7  Paul McCartney    Bass
8  Jimmy Page      Guitar
9  Joe Perry       Guitar
10 Elvis Presley   Vocals

In [19]:
bands0 = read.csv("C:/Users/annaa/data/bands.csv", sep = ",", stringsAsFactors = FALSE)
bands0

  name            band
1 John Bonham     Led Zeppelin
2 John Paul Jones Led Zeppelin
3 Jimmy Page      Led Zeppelin
4 Robert Plant    Led Zeppelin
5 George Harrison The Beatles
6 John Lennon     The Beatles

In [28]:
inner_join(artists0, bands0, by = "name")

  name            instrument band
1 George Harrison Guitar     The Beatles
2 John Lennon     Guitar     The Beatles
3 Jimmy Page      Guitar     Led Zeppelin

In [26]:
left_join(artists0, bands0, by = "name")

   name            instrument band
1  Jimmy Buffett   Guitar     NA
2  George Harrison Guitar     The Beatles
3  Mick Jagger     Vocals     NA
4  Tom Jones       Vocals     NA
5  Davy Jones      Vocals     NA
6  John Lennon     Guitar     The Beatles
7  Paul McCartney    Bass     NA
8  Jimmy Page      Guitar     Led Zeppelin
9  Joe Perry       Guitar     NA
10 Elvis Presley   Vocals     NA

In [27]:
right_join(artists0, bands0, by = "name")

  name            instrument band
1 John Bonham     NA         Led Zeppelin
2 John Paul Jones NA         Led Zeppelin
3 Jimmy Page      Guitar     Led Zeppelin
4 Robert Plant    NA         Led Zeppelin
5 George Harrison Guitar     The Beatles
6 John Lennon     Guitar     The Beatles

In [29]:
full_join(artists0, bands0, by = "name")

   name            instrument band
1  Jimmy Buffett   Guitar     NA
2  George Harrison Guitar     The Beatles
3  Mick Jagger     Vocals     NA
4  Tom Jones       Vocals     NA
5  Davy Jones      Vocals     NA
6  John Lennon     Guitar     The Beatles
7  Paul McCartney    Bass     NA
8  Jimmy Page      Guitar     Led Zeppelin
9  Joe Perry       Guitar     NA
10 Elvis Presley   Vocals     NA
11 John Bonham     NA         Led Zeppelin
12 John Paul Jones NA         Led Zeppelin
13 Robert Plant    NA         Led Zeppelin

In [21]:
bands = read.csv("C:/Users/annaa/data/bands2.csv", sep = ",", stringsAsFactors = FALSE)
bands

  first     last      band
1 John       Bonham   Led Zeppelin
2 John Paul  Jones    Led Zeppelin
3 Jimmy      Page     Led Zeppelin
4 Robert     Plant    Led Zeppelin
5 George     Harrison The Beatles
6 John       Lennon   The Beatles

In [22]:
artists = read.csv("C:/Users/annaa/data/artists_new.csv", sep = ",", stringsAsFactors = FALSE)
artists

  first  last      instrument
1 Jimmy    Buffett      Guitar
2 George  Harrison      Guitar
3 Mick      Jagger      Vocals
4 Tom        Jones      Vocals
5 Davy       Jones     Vocals
6 John      Lennon      Guitar

In [23]:
# Complete the code to join artists to bands
bands2 <- left_join(bands, artists, by = c("first", "last"))

# Examine the results - only one match to the right table artists, hence only 1 instrument
bands2

  first     last      band         instrument
1 John       Bonham   Led Zeppelin NA
2 John Paul  Jones    Led Zeppelin NA
3 Jimmy      Page     Led Zeppelin NA
4 Robert     Plant    Led Zeppelin NA
5 George     Harrison The Beatles       Guitar
6 John       Lennon   The Beatles  NA

In [24]:
# Finish the code below to recreate bands3 with a right join
bands2 <- left_join(bands, artists, by = c("first", "last"))
bands3 <- right_join(artists, bands, by = c("first", "last"))

# Check that bands3 is equal to bands2
setequal(bands2, bands3)

TRUE

### Inner joins and full joins
*  inner joins = the most strict type of join: they only retain observations that appear in both datasets. 
*  In contrast, full joins are the most permissive type of join: they return all of the data that appears in both datasets (often resulting in many NAs).

In [32]:
albums = read.csv("C:/Users/annaa/data/albums.csv", sep = ",", stringsAsFactors = FALSE)
albums

  album                     band               year
1 A Hard Day's Night        The Beatles        1964
2 Magical Mystery Tour      The Beatles        1967
3 Beggar's Banquet          The Rolling Stones 1968
4 Abbey Road                The Beatles        1969
5 Led Zeppelin IV           Led Zeppelin       1971
6 The Dark Side of the Moon  Pink Floyd        1973

In [40]:
songs = read.csv("C:/Users/annaa/data/songs.csv", sep = ";", stringsAsFactors = FALSE)
songs

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"unvollst√§dige letzte Zeile von readTableHeader in 'C:/Users/annaa/data/songs.csv' gefunden"

  song             album                name
1 Come Together    Abbey Road           John Lennon
2 Dream On         Aerosmith            Steven Tyler
3 Hello, Goodbye   Magical Mystery Tour Paul McCartney
4 It's Not Unusual Along Came Jones     Tom Jones

In [41]:
# Join albums to songs using inner_join()
inner_join(songs, albums, by = "album")

  song           album                name           band        year
1 Come Together  Abbey Road           John Lennon    The Beatles 1969
2 Hello, Goodbye Magical Mystery Tour Paul McCartney The Beatles 1967

### Pipes
You can combine dplyr functions together with the pipe operator, %>%, to build up an analysis step-by-step.

In [37]:
# Find guitarists in bands dataset (don't change)
temp <- left_join(bands, artists, by = c("first", "last"))
temp <- filter(temp, instrument == "Guitar")
x <- select(temp, first, last, band)

# Reproduce code above using pipes
bands0 %>% left_join(artists0, by = "name") %>% filter(instrument == "Guitar") %>% select(name, band)

  name            band
1 Jimmy Page      Led Zeppelin
2 George Harrison The Beatles
3 John Lennon     The Beatles

In [43]:
artists0 %>% full_join(bands0, by = "name") %>% inner_join(songs, by = "name")

  name           instrument band        song             album
1 Tom Jones      Vocals     NA          It's Not Unusual Along Came Jones
2 John Lennon    Guitar     The Beatles Come Together    Abbey Road
3 Paul McCartney   Bass     NA          Hello, Goodbye   Magical Mystery Tour

In [49]:
# Create one table that combines all information
artists0 %>%
  full_join(bands0, by = "name") %>%
  full_join(songs, by = "name") %>%
  full_join(albums, by = c("album", "band"))

   name            instrument band               song
1  Jimmy Buffett   Guitar     NA                 NA
2  George Harrison Guitar     The Beatles        NA
3  Mick Jagger     Vocals     NA                 NA
4  Tom Jones       Vocals     NA                 It's Not Unusual
5  Davy Jones      Vocals     NA                 NA
6  John Lennon     Guitar     The Beatles        Come Together
7  Paul McCartney    Bass     NA                 Hello, Goodbye
8  Jimmy Page      Guitar     Led Zeppelin       NA
9  Joe Perry       Guitar     NA                 NA
10 Elvis Presley   Vocals     NA                 NA
11 John Bonham     NA         Led Zeppelin       NA
12 John Paul Jones NA         Led Zeppelin       NA
13 Robert Plant    NA         Led Zeppelin       NA
14 Steven Tyler    NA         NA                 Dream On
15 NA              NA         The Beatles        NA
16 NA              NA         The Beatles        NA
17 NA              NA         The Rolling Stones NA
18 NA              NA         Led Zeppelin       NA
19 NA              NA          Pink Floyd        NA
   album                     year
1  NA                          NA
2  NA                          NA
3  NA                          NA
4  Along Came Jones            NA
5  NA                          NA
6  Abbey Road                1969
7  Magical Mystery Tour        NA
8  NA                          NA
9  NA                          NA
10 NA                          NA
11 NA                          NA
12 NA                          NA
13 NA                          NA
14 Aerosmith                   NA
15 A Hard Day's Night        1964
16 Magical Mystery Tour      1967
17 Beggar's Banquet          1968
18 Led Zeppelin IV           1971
19 The Dark Side of the Moon 1973

## Ch2: Filtering joins and set operations
**Filtering Joins:** semi_join, anti_join
**Set Operations:** union, intersect, setdiff
**Comparisions:** setequal

*  semi_join(x, y) keeps all observations in x that have a match in y.
*  anti_join(x, y) drops all observations in x that have a match in y.

### Semi-join
semi join is like a right join, but it doesn't add any new rows and columns from the matched dataset (from table on the right)! 
*  to achieve the same result, one would need to apply right join, filter out NAs and select only columns that appear in the left table:

In [ ]:
# View the output of semi_join()
artists %>% 
  semi_join(songs, by = c("first", "last"))

# Create the same result
artists %>% 
  right_join(songs, by = c("first", "last")) %>% 
  filter(!is.na(instrument) ) %>% 
  select(first, last, instrument)

In [ ]:
albums %>% 
  # Collect the albums made by a band
  semi_join(bands, by = "band") %>% 
  # Count the albums made by a band
  nrow()

### Anti-join
*  you can use an anti-join to see which rows will not be matched to a second dataset by a join.
*  anti_join() also shows what went wrong in a join. Ex. to zero-in on rows that have capitalization or spelling errors in the keys. These things will make your primary and secondary keys appear different to R, even though you know they refer to the same thing.
    *  You can think of anti-join as a debugging tactic for joins.

In [ ]:
# Return rows of artists that don't have bands info
artists %>% anti_join(bands, by = c("first", "last"))

In [ ]:
# Check whether album names in labels are mis-entered
labels %>% anti_join(albums, by = "album")

### Semi-join vs. Anti-join
Which filtering join would you use to determine how many rows in songs match a label in labels?

In [ ]:
songs %>% semi_join(labels, by = "album") %>% nrow()

### Set operations
They are **used least frequently**, but they are occasionally useful when you want to break a single complex filter into simpler pieces. All these operations work with a complete row, comparing the values of every variable. These **expect x and y inputs to have the same variables**, and treat the observations like sets:
*  **union(x,y)** will return every row that appears in one or more of the datasets: x OR y
    *  If a row appears multiple times union will only return it once i.e. duplicates are removed
*  **interesect(x,y)** will return only the rows that appear in both datasets: x AND y 
    *  duplicates are removed!
*  **setdiff(x,y)** will return the rows that appear in the first dataset but not the second: x-y

In [51]:
(df1 <- tribble(~x, ~y, 1, 1, 2, 1))
(df2 <- tribble(~x, ~y, 1, 1, 1, 2))

  x y
1 1 1
2 2 1

  x y
1 1 1
2 1 2

In [52]:
intersect(df1, df2)
union(df1, df2)
setdiff(df1, df2)
setdiff(df2, df1)

  x y
1 1 1

  x y
1 1 2
2 2 1
3 1 1

  x y
1 2 1

  x y
1 1 2

### How many songs are there?
*  aerosmith and greatest_hits represents albums from the band Aerosmith. Each row in either of the datasets is a song on that album. 
*  How many unique songs do these two albums contain in total?

In [53]:
aerosmith = read.csv("C:/Users/annaa/data/aerosmith.csv", sep = ",", stringsAsFactors = FALSE)
greatest_hits = read.csv("C:/Users/annaa/data/greatest_hits.csv", sep = ",", stringsAsFactors = FALSE)
aerosmith
greatest_hits

  song              length
1 Make It           3:41
2 Somebody          3:45
3 Dream On          4:28
4 One Way Street    7:00
5 Mama Kin          4:25
6 Write me a Letter 4:11
7 Moving Out        5:03
8 Walking the Dog   3:12

   song                           length
1  Dream On                       4:28
2  Mama Kin                       4:27
3  Same Old Song and Dance        3:04
4  Seasons of Winter              4:57
5  Sweet Emotion                  3:15
6  Walk this Way                  3:33
7  Big Ten Inch Record            2:15
8  Last Child                     3:28
9  Back in the Saddle             4:41
10 Draw the Line                  3:24
11 Kings and Queens               3:48
12 Come Together                  3:47
13 Remember (Walking in the Sand) 4:05
14 Lightning Strikes              4:28
15 Chip Away the Stone            4:01
16 Sweet Emotion (remix)          4:36
17 One Way Street (live)          6:40

In [54]:
# How many unique songs do these two albums contain in total?
aerosmith %>% union(greatest_hits) %>% nrow()

[1] 24

In [55]:
# Which songs from Aerosmith made it onto Greatest Hits?
aerosmith %>% intersect(greatest_hits)

  song     length
1 Dream On 4:28

In [56]:
# Which songs from Aerosmith didn't make it onto Greatest Hits?
aerosmith %>% setdiff(greatest_hits)

  song              length
1 Make It           3:41
2 Somebody          3:45
3 One Way Street    7:00
4 Mama Kin          4:25
5 Write me a Letter 4:11
6 Moving Out        5:03
7 Walking the Dog   3:12

### Comparing datasets
*  dplyr‚Äôs **setequal()** will do this easily, regardless of the order in which rows appear
*  base R‚Äôs **identical()** will only return true if the datasets have the exact same rows in the exact same order

intersect() is analagous to semi_join() when two datasets contain the same variables and each variable is used in the key. Under these conditions, setdiff() is also analagous to one of the filtering joins.

In [ ]:
# Return songs in definitive that are not in complete
definitive %>% anti_join(complete)

# Return songs in complete that are not in definitive
complete %>% anti_join(definitive)

# Check if same order: definitive and union of complete and soundtrack
union(complete, soundtrack) %>% identical(definitive) # FALSE

# Check if any order: definitive and union of complete and soundtrack
union(complete, soundtrack) %>% setequal(definitive) # TRUE

## Ch3: Assembling data
**base R binds:** rbind(), cbind()
**dplyr binds:** bind_rows(), bind_cols()

**Advantages of dplyr versions:**
*  faster
*  they always return a tibble (advanced data frame with class tbl_df)
*  can handle lists of dataframes as input
*  .id argument in bind_rows allows you to pass in a name for each source dataframe so that we know where each row came from
    *  will be added as a column to the result dataset
    *  this is handy when one of the variables for the data set is stored in the table name.
    *  ex. hourly weather data for different days
*  rbind will return an error if the column names do not match exactly. != **bind_rows** will create a column for each unique column and distribute NAs appropriately

**Danger:** The biggest risk when using bind_cols is that the observations may not align across the rows of your data frame

### Build a better data frame
*  R Base way to create a dataframe **data.frame() and as.data.frame()**
*  dplyr way to create a dataframe: **data_frame() and as_data_frame()**
*  **Advantages of using dplyr version:**
    *  will never change the data type of a vector. (e.g. strings to factors)
    *  will never add row names
    *  will not change unusual column names
    *  only recycles length 1 inputs
    *  evaluate lazily and in order. (So you can reference a column in the next column definition)
    *  outputs a tibble (class tbl_df)
*  as_data_frame does all these same things - it's just used on a list of columns

In [ ]:
# Bind side_one and side_two into a single dataset
side_one %>% bind_rows(side_two)

## Ch4: Advanced joining

## Ch5: Case study
http://www.rpubs.com/williamsurles/293454